#about {
    flex-direction: column;
    .hero {
        flex-direction: column;
        .wrapper {
            flex-direction: column;
            .text {
                flex-direction: column;
                margin-bottom: 50px;
                .title {
                    flex-direction: column;
                    margin-bottom: 28px;
                    h2 {
                        font-size: 44px;
                        margin: 0;
                        margin-bottom: 12px;
                    }
                    hr {
                        margin: 0;
                        border: 0;
                        width: 70px;
                        height: 5px;
                        background-color: var(--red);
                    }
                }
                .description {
                    font-size: 20px;
                    color: var(--menu-gray);
                }
            }
            .image {
                width: 100%;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    #prime-hero {
        width: 100%;
        margin-top: 0;
        .wrapper {
            margin: 150px var(--space-mobile) 50px var(--space-mobile);
        }
    }
    #second-hero {
        background-color: var(--black);
        .wrapper {
            margin: 50px var(--space-mobile) 50px var(--space-mobile);
            flex-direction: column-reverse;
        }
    }
    #third-hero {
        width: 100%;
        margin-top: 0;
        .wrapper {
            margin: 50px var(--space-mobile) 0 var(--space-mobile);
            flex-direction: column-reverse;
            .image-gallery {
                flex-direction: column;
                width: 100%;
                .item-img {
                    width: 100%;
                    margin-bottom: 50px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        
    }
}

@media (min-width: 768px) {
    #about {
        .hero {
            width: 680px;
            .wrapper {
                .image {
                    justify-content: flex-start;
                    img {
                        width: 500px;
                    }
                }
            }
        }
        #second-hero {
            width: 100%;
            .wrapper {
                width: 680px;
                margin: 50px var(--space-mobile);
            }
        }
        #third-hero {
            width: 700px;
            .wrapper {
                .image-gallery {
                    flex-direction: row;
                    .item-img {
                        margin-left: 50px;
                        &:nth-child(1) {
                            margin-left: 0;
                        }
                        img {
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 850px) {
    #about {
        #prime-hero {
            .wrapper {
                margin: 100px;
            }
        }
    }
}

@media (min-width: 1200px) {
    #about {
        .hero {
            width: 100%;
            .wrapper {
                flex-direction: row;
                justify-content: space-between;
                .text {
                    max-width: 430px;
                }
                .image {
                    width: initial;
                }
            }
        }
        #prime-hero {
            .wrapper {
                margin: 40px var(--space-desktop) 50px var(--space-desktop);
            }
        }
        #second-hero {
            padding: 60px var(--space-desktop) 60px var(--space-desktop);
            .wrapper {
                flex-direction: row;
                width: 100%;
                margin: 0;
            }
        }
        #third-hero {
            .wrapper {
                .text {
                    max-width: initial;
                }
            }
        }
    }
}

@media (min-width: 1441px) {
    #about {
        .hero {
            width: var(--space-big-desktop);
        }
        #prime-hero {
            .wrapper {
                margin: 0;
            }
        }
        #second-hero {
            margin: 0;
            .wrapper {
                margin: auto;
                width: var(--space-big-desktop);
            }
        }
    }
}