#about {
    flex-direction: column;
    .hero {
        flex-direction: column;
        width: 100%;
        .wrapper {
            flex-direction: column;
            .text {
                flex-direction: column;
                margin-bottom: 50px;
                .description {
                    font-size: 20px;
                    color: var(--black);
                    font-weight: 300;
                }
            }
            .image {
                width: 100%;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    #prime-hero {
        margin-top: 0;
        .wrapper {
            margin: 150px var(--space-mobile) 50px var(--space-mobile);
        }
    }
    #second-hero {
        background-color: var(--black);
        .wrapper {
            margin: 50px var(--space-mobile) 50px var(--space-mobile);
            flex-direction: column-reverse;
            .text {
                .description {
                    color: var(--white);
                }
            }
        }
    }
    #third-hero {
        margin-top: 0;
        .wrapper {
            margin: 50px var(--space-mobile) 0 var(--space-mobile);
            flex-direction: column-reverse;
            .image-gallery {
                flex-direction: column;
                width: 100%;
                .item-img {
                    width: 100%;
                    margin-bottom: 50px;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        
    }

    .btn-wrap {
        width: 100%;
        height: 20vh;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .btn-gray {
            @include btn-gray;
            margin-right: 30px;
        }
        .btn-red {
            @include btn-red;
        }
    }
}

@media (min-width: 768px) {
    #about {
        .hero {
            .wrapper {
                .image {
                    justify-content: center;
                    img {
                        width: 400px;
                    }
                }
            }
        }
        #second-hero {
            .wrapper {
                width: 680px;
                margin: 50px var(--space-mobile);
            }
        }
        #third-hero {
            .wrapper {
                .image-gallery {
                    flex-direction: row;
                    .item-img {
                        margin-left: 50px;
                        &:nth-child(1) {
                            margin-left: 0;
                        }
                        img {
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 850px) {
    #about {
        #prime-hero {
            .wrapper {
                margin: 80px var(--space-mobile);
                .text {
                    .title {
                        h2 {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
        #second-hero {
            .wrapper {
                margin: 80px var(--space-mobile);
            }
        }
    }
}

@media(min-width: 992px) {
    #about {
        #prime-hero {
            .wrapper {
                margin: 80px var(--space-desktop);
            }
        }
        #second-hero {
            .wrapper {
                margin: 80px var(--space-desktop);
            }
        }
        #third-hero {
            width: 100%;
            .wrapper {
                margin: 80px var(--space-desktop);
            }
        }
    }
}

@media (min-width: 1200px) {
    #about {
        .hero {
            .wrapper {
                flex-direction: row;
                justify-content: space-between;
                .text {
                    max-width: 430px;
                }
                .image {
                    width: initial;
                }
            }
        }
        #prime-hero {
            margin-top: 50px;
            .wrapper {
                margin: 40px var(--space-desktop) 50px var(--space-desktop);
            }
        }
        #second-hero {
            padding: 60px var(--space-desktop) 60px var(--space-desktop);
            .wrapper {
                flex-direction: row;
                width: 100%;
                margin: 0;
                .text {
                    margin: 0;
                    justify-content: center;
                }
            }
        }
        #third-hero {
            .wrapper {
                .text {
                    max-width: initial;
                }
            }
        }
    }
}

@media (min-width: 1441px) {
    #about {
        .hero {
            .wrapper {
                width: 1200px;
            }
        }
        #prime-hero {
            margin-top: 0;
            .wrapper {
                margin: 100px auto 50px;
                .text {
                    margin-right: 50px;
                }
            }
        }
        #second-hero {
            margin: 0;
            padding: 60px 0;
            .wrapper {
                margin: auto;
                width: var(--space-big-desktop);
            }
        }
        #third-hero {
            .wrapper {
                margin: 0;
                margin: 40px auto var(--space-desktop);
            }
        }
    }
}