* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, div, nav, button, figure, picture, form {
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
    background-color: var(--bg-gray);
}

hr {
    &.divider {
        background-color: red;
        height: 1px;
        width: calc(100% - 2em);
        margin: 15px 0;
        border: none;
        align-self: center;
    }
}
