#deliveryform {
    display: block;
    margin: 100px 20px;
    .precoPC {
        display: none;
    }
    hr {
        display: none;
    }
    .wrapper {
        flex-direction: column;
        margin-bottom: 50px;
        form {
            max-width: 300px;
            .field {
                margin: 0;
                margin-bottom: 20px;
            }
            .buttons-desktop {
                display: none;
            }
        }
    }
    .precoCE {
        flex-direction: column;
        max-width: 300px;
        .title-order {
            h2 {
                font-size: 30px;
            }
        }
        .orders-wrapper {
            flex-direction: column;
            margin-bottom: 50px;
            .order {
                flex-direction: column;
                position: relative;
                height: 100px;
                margin-bottom: 20px;
                max-width: 300px;
                h3 {
                    font-size: 24px;
                    margin: 0;
                }
                .number {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    font-size: 24px;
                    font-weight: 400;
                }
                .price {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
        .total {
            flex-direction: row;
            height: 50px;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            h2 {
                font-size: 30px;
                font-weight: 600;
                margin: 0;
            }
            span {
                font-size: 32px;
                font-weight: 600;
                color: var(--red);
            }
        }
        .buttons-mobile {
            flex-direction: column;
            max-width: 300px;
            button[type="button"] {
                @include btn-gray;
                margin-bottom: 20px;
            }
            button[type="submit"] {
                @include btn-red;
            }
        }
    }
}

@media (min-width: 420px) {
    #deliveryform {
        margin: 120px 70px;
    }
}

@media (min-width: 850px)  {
    #deliveryform {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 100px 50px 50px;
        .wrapper {
            form {
                max-width: initial;
                .field {
                    width: 400px;
                }
                .buttons-desktop {
                    display: block;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    button[type="button"] {
                        @include btn-gray;
                        display: inline;
                        margin: 0;
                        margin-bottom: 20px;
                        margin-right: 17px;
                    }
                    button[type="submit"] {
                        @include btn-red;
                        display: inline;
                        margin: 0;
                    }
                }
            }
        }
        .precoCE {
            max-width: initial;
            .orders-wrapper {
                width: 200px;
                .order {
                    max-width: initial;
                }
            }
            .buttons-mobile {
                display: none;
            }
        }
            
    }
}

@media (min-width: 992px) {
    #deliveryform {
        .precoCE {
            .orders-wrapper {
                width: 300px;
            }
        }
        hr {
            display: block;
        }
    }
}
@media (min-width: 1100px) {
    #deliveryform {
        .precoCE {
            margin-right: 100px;
        }
    }
}

@media (min-width: 1441px) {
    #deliveryform {
        max-width: var(--space-big-desktop);
        width: 100%;
        margin: 100px auto 50px;
    }
}