#entrega {
    display: block;
    margin: 120px 20px 20px;
    .delivery {
        display: block;
        flex-direction: column;
        .title {
            margin-bottom: 50px;
        }
        p {
            font-size: 24px;
        }
    }
    img {
        width: 100%;
        max-width: 400px;
    }
}

@media (min-width: 992px) {
    #entrega {
        display: flex;
        justify-content: space-between;
        margin: 120px 100px 20px;

        .delivery {
            align-items: center;
            width: 500px;
            h2 {
                margin-bottom: 50px;
            }
        }       
    }
}

@media (min-width: 1441px) {
    #entrega {
        max-width: var(--space-big-desktop);
        margin: 120px auto 20px;
    }
}