
#header-home{
    
}
#menu-page {

    flex-direction: column;
    #title-dish{
        align-items: center;
    }
    .home-footer{
        flex-direction: row;
        #overlay {
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0,0,0,0.4);
        }
        align-items: center;
        justify-content: center;
        .text-at-home{
            flex-direction: column;
            position: absolute;
            text-align: center;
            align-items: center;
            width: 350px;
            justify-content: center;
            h3{
                font-size: 80px;
            }
            p{
                font-size: 24px;
                color: var(--white);
            }
        }

    }
    .hero {
        flex-direction: column;
        width: 100%;
        .wrapper {
            flex-direction: column;
            
            .text {
                flex-direction: column;
                margin-bottom: 50px;
                
                .title {
                    flex-direction: column;
                    margin-bottom: 36px;
                    
                    
                    h2 {
                        font-size: 36px;
                        font-weight: 700;
                        margin: 0;
                        margin-bottom: 12px;
                        color: var(--white);
                    }
                    hr {
                        margin: 0;
                        border: 0;
                        width: 60px;
                        height: 5px;
                        background-color: var(--red);
                    }
                }
                .description {
                    font-size: 20px;
                    color: var(--dark-gray);
                    font-weight: 300;
                }
            }
            .image {
                width: 100%;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    #prime-hero {
        background: var(--black);
        .hero{
            .wrapper {
                margin: 150px var(--space-mobile) 50px var(--space-mobile);
            }
        }
        .image {
            width: 100%;
        }
        
    }
    #second-hero {
        margin-top: 0;
        
        .wrapper {
            margin: 150px var(--space-mobile) 50px var(--space-mobile);
        }
    }
    .button{
        margin-bottom: 20px;
        white-space: pre;
        width: 320px;        
    }
}

@media (min-width: 1200px){
    #menu-page{
        .button {
            display: block;
            
        }
        
        .hero {
            .wrapper {
                flex-direction: row;
                justify-content: space-between;
                .text {
                    max-width: 430px;
                }
                .image {
                    width: initial;
                }
            }
        }
        #prime-hero {
            margin-top: 50px;
            
            .wrapper {
                margin: 40px var(--space-desktop) 50px var(--space-desktop);
            }
        }
        #second-hero {
            margin-top: 50px;
            text-align: end;
            align-items: flex-end;
            justify-content: flex-end;
            h2 {
                align-items: flex-end;
                color: var(--black);
            }
            .title{
                align-items: flex-end;
            }

            .wrapper {
                margin: 40px var(--space-desktop) 50px var(--space-desktop);
            }
        }
        .image{
            margin-left: 30px;
            
        }
        
    }
}
