:root {
    --bg-gray: #ECECEC;
    --dark-gray: #6B6B6B;
    --menu-gray: #6b6b6bee;
    --white: #FFFFFF;
    --black: #000000;
    --red: #EC1C24;
    --green-success: #2D8823;

    --space-mobile: 50px;
    --space-big-desktop: 1200px;
}