:root {
    --bg-gray: #ECECEC;
    --dark-gray: #6B6B6B;
    --menu-gray: #6b6b6be1;
    --menu-gray-hover: #ccccccee;
    --white: #FFFFFF;
    --black: #202225;
    --red: #EC1C24;
    --green-success: #2D8823;
    --shadow: #4D4D4Ecc;
    --orange: #FF5E4E;
    --orange-light: #FE9E94;

    --space-mobile: 50px;
    --space-desktop: 125px;
    --space-big-desktop: 1200px;

    --border-radius: 5px;
}