:root {
    --bg-gray: #ECECEC;
    --dark-gray: #6B6B6B;
    --menu-gray: ##ccccccee;
    --white: #FFFFFF;
    --black: #000000;
    --red: #EC1C24;
    --green-success: #2D8823;
    --shadow: #4D4D4Ecc;

    --space-mobile: 50px;
    --space-desktop: 125px;
    --space-big-desktop: 1200px;

    --border-radius: 5px;
}